
@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*标签*/
.icon-biaoqian:before { content: "\f0152"; }
/*用户*/
.icon-user-outline:before { content: "\e636"; }
/*标题*/
.icon-biaoti:before { content: "\e643"; }
/*写作1*/
.icon-iconxiezuo01:before { content: "\e614"; }
/*职位*/
.icon-zhiwei:before { content: "\e660"; }
/*发表评论1*/
.icon-fabiaopinglun:before { content: "\e629"; }
/*发表评论2*/
.icon-comm:before { content: "\e608"; }
/*写作2*/
.icon-write:before { content: "\e617"; }
/*发表3*/
.icon-fabiao:before { content: "\e60e"; }
