.logo{
    width:80%;
    margin:auto;
}
.food-body{
    width:80%;
    margin:auto;
}
.material-input{
    height:31px;
}
#display-message{
    font-size: 12px;
    color:crimson;
}

#count{
    margin-left: 35px;
}

#btn{
    margin-right: 0px;
}


#picture-sliding{
    z-index: -1;
    width:100%;
    height:400px;
    margin:auto;
}
#btn_1{
    position: absolute;
    background-color: #FFF8DC;
    width: 50px;
    height: 30px;
    border: none;
    opacity: 0.5;
    z-index: 3;
}
#btn_2{
    position: absolute;
    background-color: #FFF8DC;
    border: none;
    opacity: 0.5;
    z-index: 3;
}